body {
    margin: 0;
    font-family: Poly;
    min-height: 100vh;
    background: 
        linear-gradient(180deg, white 100%, white 100%) 0 0 / 50% 100% no-repeat,
        linear-gradient(180deg, #003366 0%, #003366 100%) 100% 0 / 50% 100% no-repeat;
}

.header {
    height: 2px;
}

.h2{
    font-size:39px;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cadastro-container {
    border-radius: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 40px;  /* ✅ afasta o conteúdo do topo */
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    max-width: 400px;
    animation: slideIn 0.8s ease;
}


.form-group label {
    display: block;
    margin-bottom: 15px; 
    color: #003366;
    font-family: 'Poly', serif;
}


.form-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #e1e1e1;
    border-radius: 10px;
    font-size: 16px;
}

.cadastro-btn {
    width: 100%;
    padding: 15px;
    background:#003366;
    color: #FFFBFA;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cadastro-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(25,25,112,0.3);
}

.login-link {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e1e1e1;
}

.login-link a {
    color: #191970;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e1e1e1;
}
.error-message {
    color: #ff3333;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.input-form-cadastro{
    margin-bottom: 10px;
}