<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Sistema de Biblioteca - Histórico de Livros Favorito</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/favoritos.css') }}">
</head>
<body>

    <a href="{{url_for('perfil')}}" class="nav-link">volta</a>
    <div class="container">
        <h1>📚 Livros Favoritos</h1>
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Pesquisar por título...">
            <button onclick="searchFavorites()">Buscar</button>
        </div>

        <table class="favorites-table" id="favoritesTable">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Categoria</th>
                    <th>Data Favoritado</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="favoritesTableBody">
                <tr>
                    <td>banco de dados</td>
                    <td>ficticio </td>
                    <td>programacao</td>
                    <td>12/12/24</td>
                    <td>excluir</td>

                </tr>


            </tbody>
        </table>
    </div>

    <div id="confirmationModal" class="confirmation-modal">
        <div class="modal-content">
            <h3>Confirmar Remoção dos Favoritos</h3>
            <p>Tem certeza que deseja remover este livro dos favoritos?</p>
            
            <div class="modal-buttons">
                <button onclick="confirmDelete()">Confirmar</button>
                <button onclick="cancelDelete()" style="background-color: #95a5a6;">Cancelar</button>
            </div>
        </div>
    </div>
</body>
</html>