<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Biblioteca Virtual - Editar livro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="nav-wrapper">
                <div class="logo-container">
                    <!-- Você pode adicionar o logo aqui -->
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="cadastro-container">
            <form class="cadastro-form" action="{{ url_for('livros_create.update', id=livro.id) }}" method="POST">
                <h2 style="text-align: center; color: #191970; margin-bottom: 30px;">Editar livro</h2>

                <div class="form-group">
                    <label for="titulo">titulo</label>
                    <input type="text" id="titulo" name="titulo" required value="{{livro.titulo}}">
                </div>

                <div class="form-group">
                    <label for="ano">ano</label>
                    <select name="ano">
                        <option {% if livro.ano=='1' %} selected {% endif %} value="1">1</option>
                        <option {% if livro.ano=='2' %} selected {% endif %} value="2">2</option>
                        <option {% if livro.ano=='3' %} selected {% endif %} value="3">3</option>
                        <option {% if livro.ano=='4' %} selected {% endif %} value="4">4</option>
                      </select><br>
                </div>

                <div class="form-group">
                    <label for="curso">curso</label>
                    <select name="curso">
                        <option {% if livro.curso=='comercio' %} selected {% endif %} value="comercio">Comercio</option>
                        <option {% if livro.curso=='eletronica' %} selected {% endif %} value="eletronica">Eletronica</option>
                        <option {% if livro.curso=='informatica' %} selected {% endif %} value="informatica">Informatica</option>
                      </select><br>
                </div>

                <div class="form-group">
                    <label for="materia">materia</label>
                    <input type="text" id="materia" name="materia" value="{{livro.materia}}" required>
                </div> 
                <div class="form-group">
                    <label for="link">link</label>
                    <input type="text" id="link" name="link" value="{{livro.link}}" required>
                </div>
                <button type="submit" class="cadastro-btn">Editar</button>
            </form>
        </div>
    </main>
</body>
</html>